<form id="formmensagem" method="post" action="">
    <label>Mensagem:</label></br>
    <textarea id="textmensagem" rows="18" cols="65"></textarea></br>
    <input type="button" id="botaomsg" value="enviar mensagem">
</form>