{% extends "../main.jinja2" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
        {% if listmensagens %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id na aplicação cliente</th>
                    <th>Data chegada</th>
                    <th>Número de tentativas</th>
                    <th>Projeto</th>
                    <th>Estado</th>
                </tr>
                </thead>
                <tbody>
                {% for mensagem in listmensagens%}
                    <tr>
                        <td>{{ mensagem.id_on_web_app }}</td>
                        <td>{{ mensagem.data_chegada.strftime("%d/%m/%Y") }}</td>
                        <td>{{ mensagem.numero_tentativas_envio }}</td>
                        <td>{{ mensagem.projeto.nome }}</td>
                        <td>{{ mensagem.status }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% else %}
            <p>Não existe projetos cadastrados! :(</p>
        {% endif %}
{% endblock %}