{% extends "../main.jinja2" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
        {% if listmensagens %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id na aplicação cliente</th>
                    <th>Data chegada</th>
                    <th>Número de tentativas</th>
                    <th>Projeto</th>
                    <th>Estado</th>
                </tr>
                </thead>
                <tbody>
                {% for mensagem in listmensagens%}
                    <tr>
                        <td>{{ mensagem.id_on_web_app }}</td>
                        <td>{{ mensagem.data_chegada.strftime("%d/%m/%Y") }}</td>
                        <td>{{ mensagem.numero_tentativas_envio }}</td>
                        <td>{{ mensagem.projeto.nome }}</td>
                        <td>{{ mensagem.status }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <div class="pager">
                {% set link_attr={"class": "btn small"} %}
                {% set curpage_attr={"class": "btn primary small disabled"} %}
                {% set dotdot_attr={"class": "btn small disabled"} %}
                <!-- Usei o filter com parametro striotags para converter as strings de retorno
                para tags html. Na url passei apenas o parametro necessário.-->
                {% filter striptags %}
                    {{  listmensagens.pager(url='$page',format="$link_previous ~2~ $link_next",
                                                  symbol_previous="«", symbol_next="»",
                                                 link_attr=link_attr, curpage_attr=curpage_attr,
                                                 dotdot_attr=dotdot_attr)}}
                {% endfilter %}
            </div>
        {% else %}
            <p>Não existe projetos cadastrados! :(</p>
        {% endif %}
{% endblock %}