{% extends "templates/main.jinja2" %}

{% block head %}
    {{ super() }}
    <link href="{{ request.static_url('khipu:static/css/jquery-ui.css')}}" type="text/css" rel="stylesheet">
    <style>
        .bs-example{
            margin: 20px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="bs-example">
            <div id="meualert" class="alert alert-success" style="display: none;">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                Seu projeto foi criado com <strong>Sucesso</strong>.
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-8 col-md-offset-2"  style="background-color: #979797; margin-bottom: 50px; margin-top: 40px;">
                <h1>Autorização de Acesso</h1>
                <div class="well">
                    <div id="tab">
                        {% include "templates/projeto/_tab.jinja2" %}
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="dialog_formm" title="Criar Projeto">
        <p>Entre com o nome do seu projeto</p>
        <form id="formdd">
            <fieldset>
                <label for="nomeprojeto">Nome do grupo:</label>
                <input id="nomeprojeto" type="text" name="nomeprojeto" />

                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>
    </div>
    <div id="dialog_loading" title="Gerando Chave" >
        <img src="{{ request.static_url('khipu:static/images/loading.GIF')}}" style="align-self: center;">
    </div>
{% endblock %}