{% extends "templates/main.jinja2" %}

{% block head %}
    {{ super() }}
    <link href="{{ request.static_url('khipu:static/css/jquery-ui.css')}}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-8 col-md-offset-2"  style="background-color: #979797; margin-bottom: 50px; margin-top: 40px;">
                <h1>Autorização de Acesso</h1>
                <div class="well" id="formkeys">
                    {% include "templates/projeto/_tab.jinja2" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}