{% extends "../main.jinja2" %}

{% block head %}
    {{ super() }}
    <link href="{{ request.static_url('khipu:static/css/jquery-ui.css')}}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-8 col-md-offset-2"  style="background-color: #979797; margin-bottom: 50px; margin-top: 40px;">
                <h1>Autorização de Acesso</h1>
                <div class="well">
                    <label for="nome_projeto">Nome Projeto:</label>
                    <label id="nome_projeto" style="font-family:verdana;"><p><em>{{ projeto.nome }}</em></p></label></br>

                    <div>
                        <label style="margin: 0px; padding: 0px;" for="chave">Chave de Acesso:</label>
                        <label id="chave" style="padding-top: 3px; font-family:verdana; font-size:10px;">
                            <p><em>{{ projeto.chave[:100] }}<br>{{ projeto.chave[100:] }}</em></p>
                        </label></br>
                    </div>

                    <label for="data_ativacao">Data de Ativação:</label>
                    <label id="data_ativacao" style="font-family:verdana;"><p><em>{{ projeto.data_ativacao.strftime("%d/%m/%Y") }}</em></p></label></br>

                    <label for="ativadopor">Ativado por:</label>
                    <label id="ativadopor" style="font-family:verdana;"><p><em>{{ projeto.usuario.nome }}</em></p></label></br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}