{% extends "main.jinja2" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ request.static_url('khipu:static/css/hometheme.css') }}"/>
{% endblock %}

{% block content %}
    <h2> Terá alguma coisa na home</h2>
    <p id="resumo" class=""> Lorem ipsum dolor sit amet, vim ubique labore dictas eu, novum equidem ius ut. Eam solet disputando eu, odio
        putant petentium pri an. Ius iusto tollit adversarium an, malis utamur pertinax pri ea. Esse nemore incorrupte vel no.<br><br>

        Has mollis lobortis theophrastus an, no quo habeo dictas senserit. Appetere placerat recteque pro at, munere principes
        inciderint est ex. Veniam timeam tibique pri ei, eos option gubergren definitiones eu. Quodsi rationibus cu qui.
        An vivendo intellegebat eum, apeirian expetendis delicatissimi an duo. An cum idque ignota splendide, mel eu
        admodum repudiare, modus soluta cum cu.<br><br>

        Perpetua repudiandae ut eum, est mucius officiis fabellas ne, pro ne euismod dolorum appellantur. Sea nobis
        assueverit no, cum everti aperiri gubergren ad. Eam et novum oratio omnium. Cu his congue epicurei lucilius.<br><br>

        Melius expetendis te sea, has ex dicam admodum invidunt. Te nibh cibo labore pro, autem eirmod vel et, in vis
        facer nulla epicurei. Eu has quodsi animal, nam solum tation aliquando cu. Essent omnesque splendide duo te, ea
        tale idque nam, tibique interpretaris cu pro. Ut iriure percipit invidunt per, mea te diceret detraxit necessitatibus.<br><br>

        Vix dicit signiferumque ad, ei ludus phaedrum per. Clita disputationi reprehendunt usu no, ex mel animal regione
        evertitur, his nostro expetendis ad. Vim ea etiam scripta incorrupte, id duo tation ridens. Ad vis explicari ullamcorper.</p>
    <p>Tela do home</p>
{% endblock %}