{% extends "main.jinja2" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ request.static_url('khipu:static/css/hometheme.css') }}"/>
{% endblock %}

{% block content %}
        <div class="row">
            <div class="container">
                <h1 class="page-header">KHIPU DASHBOARD</h1>
                <div class="row placeholders" style="margin-bottom: 30px;">
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <a href="#"><img src="{{ request.static_url("khipu:static/images/project.jpg") }}" class="img-responsive img-rounded" data-holder-rendered="True" alt="200"/></a>
                        <h4 class="text-center">Projeto</h4>
                        <span class="text-muted text-center">Crie seu projeto e comece a usar o khipu</span>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <a href="#"><img src="{{ request.static_url("khipu:static/images/project.jpg") }}" class="img-responsive img-rounded" data-holder-rendered="True" alt="200"/></a>
                        <h4 class="text-center">Mensagens</h4>
                        <span class="text-muted text-center">Veja todas as mensagens do sistema.</span>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <a href="#"><img src="{{ request.static_url("khipu:static/images/project.jpg") }}" class="img-responsive img-rounded" data-holder-rendered="True" alt="200"/></a>
                        <h4 class="text-center">Sistema</h4>
                        <span class="text-muted text-center">Veja informações do computador.</span>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <a href="{{ request.route_url('listausuarios', page='1') }}"><img src="{{ request.static_url("khipu:static/images/project.jpg") }}" class="img-responsive img-rounded" data-holder-rendered="True" alt="200"/></a>
                        <h4 class="text-center">Perfis de Acesso</h4>
                        <span class="text-muted text-center">Veja todos os usuários do sistema.</span>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}