<!DOCTYPE html>
<html lang="{{ request.local_name }}">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap core CSS -->
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <title>KHIPU</title>
    {% endblock %}
</head>
<body>
    <div class="container">
        <div class="jumbotron" style="background-color: #222222;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <img class="logo img-responsive" src="{{request.static_url('khipu:static/pyramid.png')}}" alt="pyramid web framework">
                    </div>
                <div class="col-lg-2">
                    {% if view.logged_in%}
                        <span style="color: #a9bcb8;"> Olá {{ view.logged_in }} </span><a href="{{ request.application_url }}/logout" style="text-decoration: none;"><span style="color: #a9bcb8;">| Sair</span></a>
                    {% else %}
                         <span style="color: #a9bcb8;"> Olá </span> <a href="{{ request.application_url }}/login" style="text-decoration: none;"><span style="color: #a9bcb8;">| Entrar</span></a>
                    {% endif %}
                </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default navbar-inverse">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ request.route_url('home')}}">Home</a></li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Projeto<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ request.route_url('exibeprojeto')}}">Criar Projeto</a></li>
                                <li><a href="{{ request.route_url('listaprojetos', page='1')}}" >Projetos</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"  data-toggle="dropdown" class="dropdown-toggle">Segurança<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Meu Usuário</a></li>
                                <li><a href="#">Cadastro de usuário</a></li>
                                <li><a href="{{ request.route_url('listausuarios', page='1')}}">Perfis de Acesso</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ request.route_url('listamensagens', page='1')}}">Mensagens</a></li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Sistema<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ request.route_url('listparametros') }}">Parâmetros do Sistema</a></li>
                                <li><a href="#">Gestão de Exceção</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %} {% endblock %}

    <footer class="panel-footer navbar-inverse">
        <div class="container">
            <p class="text-muted text-center" style="color: #ffffff">
                <strong>
                    © Anderson Marques Morais
                </strong>
            </p>
        </div>
    </footer>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ request.static_url('khipu:static/js/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('khipu:static/js/criarprojeto.js')}}"></script>
    <script type="text/javascript" src="{{ request.static_url('khipu:static/js/jquery.timer.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('khipu:static/js/time.informacao.sistema.js') }}"></script>
</body>
</html>