<form id="formcontato" method="post" action="">
    <label for="nome">Nome:</label>
    <input id="nome" type="text" name="nome"/><br/>
    <label for="telefone">Telefone</label>
    <input id="telefone" type="text" name="telefone"/> <br/>
    <input type="button" id="botao" value="botão">
</form>