<div id="divcpu">
    {% include "_table_cpu.jinja2" %}
</div>

<div id="divmemoria" style="margin-top: 40px;">
    {% include "_table_memoria.jinja2" %}
</div>

<div id="divnetwork" style="margin-top: 40px;">
    {% include "_table_network.jinja2" %}
</div>
