<div id="divcpu" class="body_list_div" >
    {% include "_table_cpu.jinja2" %}
</div>

<div id="divmemoria" class="body_list_div">
    {% include "_table_memoria.jinja2" %}
</div>

<div id="divnetwork" class="body_list_div">
    {% include "_table_network.jinja2" %}
</div>
