
<hr>
<table class="table table-bordered">
    <thead>
    <tr>
        <th class="header_table" colspan="4" ><span>Tempo gasto por cpu lógica em segundos</span></th>
    </tr>
    <tr>
        <th>Usuário</th>
        <th>Processos do sistema</th>
        <th>Processos com maior prioridade</th>
        <th>Porcentagem de uso da cpu</th>
    </tr>
    </thead>
    <tbody>
    {% for i, cpu in cpu_times%}
        <tr>
            <td>{{ cpu.user }}</td>
            <td>{{ cpu.system }}</td>
            <td>{{ cpu.nice }}</td>
            <td>{{ cpu_porcento[i] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>