<h1>Memória RAM</h1>
<hr>
<table class="table table-striped">
    <thead>
    <tr>
        <th colspan="4" style="text-align: center;"><span style="font-size: 20px;">Uso da memória RAM</span></th>
    </tr>
    <tr>
        <th>Total</th>
        <th>Memória disponível</th>
        <th>Porcentagem de uso da memória (%)</th>
        <th>Memória usada</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ memoria_ram[0] }}</td>
            <td>{{ memoria_ram[1] }}</td>
            <td>{{ memoria_ram[2] }}%</td>
            <td>{{ memoria_ram[3] }}</td>
        </tr>
    </tbody>
</table>