{% extends "templates/main.jinja2" %}

{% block head %}
    {{ super() }}
    <link href="{{ request.static_url('khipu:static/css/sistema.css')}}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="contai" id="body_list_parametros">
        {% include "_body_list.jinja2" %}
    </div>
    <div id="dialog_loading_body">
        <img src="{{ request.static_url('khipu:static/images/loaderfaces.gif') }}" id="imgload">
    </div>
{% endblock %}